.formio.o_control_panel.o_breadcrumb_full {
    position: fixed;
    width: 100%;
}

.formio_form_container {
    margin: 0 auto;
}

.formio_form_iframe_container {
    padding: 0px;
    border: none;
    background-color: none;
    background:url('/web/static/lib/select2/select2-spinner.gif') center center no-repeat;
}

.formio_form_iframe_container iframe{
    width: opx;
    min-width: 100%;
    border: 0;
}
